# Ignore all node_modules folders
node_modules/

# Ignore package.json at any level
package.json

# Or, ignore only in the root:
/package.json

# To also ignore in subdirectories:
**/package.json

# Ignore log files
/backend/logs/
*.log

# Ignore uploaded avatars
backend/uploads/avatars/